<%= form_for [@project, @team] do |form| %>
  
  <%= render "layouts/error", object: @team, as: 'object' %>

  <p>
    * - required fields
  </p>

  <p>
    <%= form.label :name %>*<br>
    <%= form.text_field :name, id: "name" %>
  </p>
  
  <% if @team and @team.students.size > 0 %>
    <p>
      Current Students <br>
      <ul>
      <% @team.students.each do |student| %>
      <li>
      <%= student.name %> (<%= student.email %>)
      </li>
      <% end %>
      </ul>
    </p>
  <% end %>
  
  <% if is_admin_html %>
    <p>
      <%= form.label "Add/Remove Students" %><br>
      <% if params[:action] == "new" or params[:action] == "create" %>
      <%= form.collection_check_boxes :student_ids, @project.section.students, :id, :email, checked: false %>
      <% else %>
      <%= form.collection_check_boxes :student_ids, @team.project.section.students, :id, :email %>
      <% end %>
    </p>
  <% end %>
  
  <p>
    <%= form.label :version_control_link %><br>
    <%= form.text_field :version_control_link, id: "version_control_link" %>
  </p>
  
  <p>
    <%= form.label :production_link %><br>
    <%= form.text_field :production_link, id: "production_link" %>
  </p>
  
  <p>
    <%= form.label :management_link %><br>
    <%= form.text_field :management_link, id: "management_link" %>
  </p>
  
  <p>
    <%= form.label :scrum_location %><br>
    <%= form.text_field :scrum_location, id: "scrum_location" %>
  </p>
  
  <p>
    <%= form.label :scrum_time %><br>
    <%= form.datetime_select(:scrum_time) %>
  </p>
  
  <p>
    <%= form.submit id: "submit-team" %>
  </p>

<% end %>