<h3>Update Team Details</h3>
<%= form_with model: @skill do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :description, placeholder: "description" %>
  <%= form.text_field :project_management_link, placeholder: "Pivotal Tracker / Trello" %>
  <%= form.text_field :version_control_link, placeholder: "Github, Gitlab" %>
  <%= form.text_field :staging_link, placeholder: "Your staged app, good to have" %>
  <%= form.text_field :production_link, placeholder: "Your deployed app!" %>
  <%= form.text_field :scrum_time, placeholder: "description" %>

<!--  name, :description, :created_at, :defined_id, :production_link,-->
<!--  :project_management_link, :scrum_time, :staging_link, :version_control_link-->

  <%= form.submit %>
<% end %>