<h1 class="display-4 mt-4 ml-5">Remove Team: <%= @team.name %></h1>

<%= link_to 'Cancel', team_path(@team), id: 'cancel', :class => "btn btn-danger ml-5"%>

<div class="jumbotron text-center ml-5 mr-5 mt-5">
  <div class="card d-inline-block ml-2 mt-4 text-center" style="width:23%">
    <div class="card-header">
      <h5 class="card-title">Version Control</h5>
    </div>
    <div class="card-body">
       <a href=<%= @team.version_control_link %> target="_blank"><%= @team.version_control_link %></a>
    </div>
  </div>
  
  <div class="card d-inline-block ml-2 mt-4 text-center" style="width:23%">
    <div class="card-header">
      <h5 class="card-title">Production Site</h5>
    </div>
    <div class="card-body">
       <a href=<%= @team.production_link %> target="_blank"><%= @team.production_link %></a>
    </div>
  </div>
  
  <div class="card d-inline-block ml-2 mt-4 text-center" style="width:23%">
    <div class="card-header">
      <h5 class="card-title">Management Tracker</h5>
    </div>
    <div class="card-body">
       <a href=<%= @team.management_link %> target="_blank"><%= @team.management_link %></a>
    </div>
  </div>
  
  <div class="card d-inline-block ml-2 mt-4 text-center"style="width:23%">
    <div class="card-header">
      <h5 class="card-title">Scrum Details</h5>
    </div>
    <div class="card-body">
       <a class="disabled"><strong>Location:</strong> <%= @team.scrum_location %></a>
       <a class="disabled"><strong>Time:</strong> <%= @team.scrum_time %></a>
    </div>
  </div>
  
  <div class="mt-4 text-left">
    <%= render "layouts/confirm_destroy", object: @team, as: 'object'  %>
  </div>

</div>
