<h1>Team: <%= @team.name %></h1>

<ul>
  <li>Version Control: 
    <a href=<%= @team.version_control_link %> target="_blank">
      <%= @team.version_control_link %>
    </a>
  </li>
  <li>Production Website:
    <a href=<%= @team.production_link %> target="_blank">
      <%= @team.production_link %>
    </a>
  </li>
  <li>Management Tracker:
    <a href=<%= @team.management_link %> target="_blank">
      <%= @team.management_link %>
    </a>
  </li>
  <li>Scrum Location:
    <%= @team.scrum_location %>
  </li>
  <li>Scrum Time:
    <%= @team.scrum_time %>
  </li>
</ul>

<% if is_user_html %>
  <%= link_to "Edit Team", edit_team_path(@team) %></td>
<% end %>
<%if is_admin_html %>
  <%= link_to "Delete Team", remove_team_path(@team) %>
<% end %>
<%= link_to 'Back', section_projects_path(@team.project.section), id: 'back' %>
