<h1>Team: <%= @team.name %></h1>

<h3>Members:</h3>
<ul>
<% if @team.students.empty? %>
  <li>No team members</li>
<% else %>
  <% @team.students.each do |student| %>
    <li> <%= student.name %> (<%= student.email %>)</li>
  <% end %>
<% end %>
</ul>

<h3>Info:</h3>
<ul>
  <li>Version Control: 
    <a href=<%= @team.version_control_link %> target="_blank">
      <%= @team.version_control_link %>
    </a>
  </li>
  <li>Production Website:
    <a href=<%= @team.production_link %> target="_blank">
      <%= @team.production_link %>
    </a>
  </li>
  <li>Management Tracker:
    <a href=<%= @team.management_link %> target="_blank">
      <%= @team.management_link %>
    </a>
  </li>
  <li>Scrum Location:
    <%= @team.scrum_location %>
  </li>
  <li>Scrum Time:
    <%= @team.scrum_time %>
  </li>
</ul>

<% if admin_access_html || is_student_on_team(current_user, @team) %>
  <%= link_to "Edit Team", edit_team_path(@team) %></td>
<% end %>
<%if admin_access_html %>
  <%= link_to "Delete Team", remove_team_path(@team) %>
<% end %>
<%= link_to 'Back', section_projects_path(@team.project.section), id: 'back' %>
