<h1><%=@current_user.name%>'s Account</h1>

<%= form_for @current_user do |f| %>
  <%= f.label "Full Name" %>
  <%= f.text_field :name %>
  
  <%= f.label "Email" %>
  <%= f.text_field :email %>
  
  <%= f.label "Confirm Password" %>
  <%= f.password_field :password %>
  
  <%= f.submit "Update Account" %>
<% end %>