<h1>Remove <%=@user_removing.name%></h1>

<h3>Name</h3> <p><%=@user_removing.name%></p>
<h3>Email</h3> <p><%=@user_removing.email%></p>
<h3>Sections</h3>

<%= form_for @current_user, url: {action: "destroy"}, :method => :POST do |f| %>
  <%= f.hidden_field :id, value: @user_removing.id %>
  <%= f.label "Confirm Password" %>
  <%= f.text_field :password %>
  
  <%= f.submit "Remove #{@user_removing.name}" %>
<% end %>