<h1>
  ID <%= @skill.id %>:
</h1>
  <p> <%= @skill.name %> </p>
  <p> <%= @skill.description %></p>

<p> <%= button_to 'Remove', @skill, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= button_to 'Edit', edit_skill_path(@skill), method: 'get'%> </p>


