<h1>CrewCreator</h1>

<p> Welcome to Crew Creator</p>

<% if is_admin_html %>
  <% Section.order(year: :desc).distinct.pluck(:year).each do |year| %>
    <%= year %>
    <div class='section-year'>
      <% Section.where(year: year).order(semester: :desc, number: :asc).each do |section| %>
        <div class='section-info' style='display: inline-block'>
          <%= section.course.name %> <%= section.number %> <%= section.semester %> <%= section.year %>
        </div>
      <% end %>
      <br/>
    </div>
  <% end %>
<% end %>

<% if is_student_html %>

<% end %>