<h1>CrewCreator</h1>
<br\>
<br\>
<br\>

<% if !current_user %>
  <%= button_to 'Log In', '/login', :method => :get %>
<%end%>

<br\>

<% if is_admin_html %>
  <%= button_to 'My Account', '/admin_account', :method => :get %>
<%end%>

<br\>

<%= button_to 'View Courses', {:action => :index, :controller => :courses}, :method => :get %>

<br\>

<%= button_to 'View Admins', {:action => :index, :controller => :admins}, :method => :get %>

<%= button_to 'View Projects', {:action => :index, :controller => :projects}, :method => :get %>
