<%= form_for [@course, @section] do |form| %>

  <%= render "layouts/error", object: @section, as: 'object' %>

  <p>
    <%= form.label :number %><br>
    <%= form.number_field :number, in: 1...9999, :id => "number" %>
  </p>
  
  <p>
    <%= form.label :semester %><br>
    <%= form.radio_button :semester, "Spring", :checked => true, :id => "spring" %> Spring <br>
    <%= form.radio_button :semester, "Summer", :id => "summer" %> Summer <br>
    <%= form.radio_button :semester, "Fall", :id => "fall" %> Fall <br>
    <%= form.radio_button :semester, "Winter", :id => "winter" %> Winter 
  </p>
  
  <p>
    <%= form.label :year %><br>
    <%= form.number_field :year, in: 1...9999, :id => "year" %>
  </p>
  
  <p>
    <%= form.submit :id => "create" %>
  </p>

<% end %>
