<h1>Section <%=@section.name%> Details</h1>

<%= form_for @section do |f| %>
  <%= f.label "Section Number" %> <br>
  <%= f.number_field :number %> <br>
  <br>
  <%= f.submit "Update Section" %>
<% end %>