<h1 class="display-4 mt-4 ml-5">Class Roster: <%= @section.number %> - <%= @section.semester %> <%= @section.year %></h1>
<%= link_to 'Cancel', section_projects_path(@section), id: 'cancel', :class => "btn btn-danger ml-5"%>

<div class="jumbotron w-50 mx-auto">
  <%= form_for @section, url: {action: "update_roster"}, method: :patch do |form| %>
  
    <%= render 'layouts/error', object: @section, as: 'object' %>
  
    <%= form.fields_for :emails do |builder| %>
      <%= render 'email_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add Student Email", form, :emails%>
    <br>
    <%= form.submit "Update Roster", :class => "btn btn-primary mt-4"  %>
  <% end %>
</div>

<div class="jumbotron w-50 mx-auto">
 <%= form_for @section, url: {action: "import"}, multipart: true, method: :post do |form| %>
 <div id="email_bulk_explanation">
    <h3>Bulk Add Emails</h3>
    <ul>
      <li>Emails must be valid</li>
      <li>Emails must be comma separated</li>
      <li>CSV file type only, UTF-8 encoding required</li>
    </ul>
  </div>
  
  <%#= form_tag import_section_path, multipart: true do %>
  <%#= file_field_tag :file, :accept => 'csv', :class => "btn btn-primary mt-4" %>
  <%= form.file_field :file, :accept => 'csv', :class => "btn btn-primary mt-4" %> <br/>
  
  <%#= submit_tag "Import CSV emails", :class => "btn btn-primary mt-4" %>
  <%= form.submit "Import CSV emails", :class => "btn btn-primary mt-4" %>
  <% end %>
</div>