<%= form_for [@section, @project] do |form| %>
  
  <%= render "layouts/error", object: @project, as: 'object' %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, :id =>"name" %>
  </p>
  
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, :id => "description" %>
  </p>
  
  <p>
    <%= form.label :difficulty %><br>
    <%= form.select :difficulty, Project.difficulties, :id => "difficulty" %>
  </p>
  
  <p>
    <%= form.label :skills %><br>
    <%= form.collection_check_boxes :skill_ids, Skill.all, :id, :name %> 
    <%= form.submit 'Add Skill', :controller => 'projects', :action => 'handle_add_skills' %>
  </p>
  
  <p>
    <%= form.submit "Save Project", :id => "save" %>
  </p>

<% end %>
