<h1>Projects for Section <%= @section.number %> - <%= @section.semester %> <%= @section.year %> </h1>

<% if is_admin_html %>
<p>
<%= link_to 'Edit Section' , edit_section_path(@section), id: "edit_section_#{@section.number}" %>
<%= link_to 'Delete Section' , remove_section_path(@section), id: "remove_section_#{@section.number}" %>
<%= link_to 'Adjust Roster' , section_roster_path(@section), id: "roster_section_#{@section.number}" %>
</p>
<% end %>

<% if is_student_html && !is_student_in_section(current_user, @section) %>
<p>
<%= link_to 'Join Section' , section_join_path(@section), method: :post, id: "join_section_#{@section.number}" %>
</p>
<% end %>

<% if is_student_in_section(current_user, @section) %>
<p>
  Currently registered
  <%= link_to 'Leave Section' , section_leave_path(@section), method: :patch, id: "leave_section_#{@section.number}" %>
</p>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Difficulty</th>
    <th><%= link_to 'Skills', skills_path %></th>
    <th><%= link_to 'Teams', section_teams_path(@section) %></th>
    <% if is_admin_html %>
      <th>Options</th>
    <% end %>
  </tr>
  
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.description %></td>
      <td><%= project.difficulty %></td>
      
      <td>
        <table>
          <% project.skills.each do |skill| %>
            <td><%= skill.name %></td>
          <% end %>
        </table>
      </td>
      
      <td>
        <table>
          <% unless project.teams.empty? %> 
            <th>Name</th>
            <th>Version Control</th>
            <th>Production Website</th>
            <th>Management Tracker</th>
          <% end %>
          <% project.teams.each do |team| %>
            <tr>
              <td><%= link_to team.name, team_path(team) %></td>
              <td><a href=<%= team.version_control_link %> target="_blank"><%= team.version_control_link %></a></td>
              <td><a href=<%= team.production_link %> target="_blank"><%= team.production_link %></a></td>
              <td><a href=<%= team.management_link %> target="_blank"><%= team.management_link %></a></td>
            </tr>
          <% end %>
        </table>
      </td>
      
      <% if is_admin_html %>
       <td>
          <table>
            <td><%= link_to 'Add Team', new_project_team_path(project), id: "add-team" %></td> 
            <td><%= link_to 'Edit', edit_project_path(project) %></td> 
            <td><%= link_to 'Delete', remove_project_path(project) %></td> 
          </table>
        </td>
      <% end %>
      
    </tr>
  <% end %>
</table>

<% if is_admin_html %>
  <%= button_to "New Project", {:action => :new, :controller => :projects}, :method => :get, :id => "new_project"  %>
<% end %>
