<h1>Projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Difficulty</th>
    <th><%= link_to 'Skills', skills_path %></th>
    <th>Options</th>
  </tr>
  
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.description %></td>
      <td><%= project.difficulty %></td>
      <td>
        <table>
          <% project.skills.each do |skill| %>
            <td><%= skill.name %></td>
          <% end %>
        </table>
      </td>
      <% if is_admin_html %>
       <td>
          <table>
            <td><%= link_to 'Edit', edit_project_path(project) %></td> 
            <td><%= link_to 'Delete', remove_project_path(project) %></td> 
          </table>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<% if is_admin_html %>
  <%= button_to "New Project", {:action => :new, :controller => :projects}, :method => :get, :id => "new_project"  %>
<% end %>