<h1>Add Skill to <%= @project.name %></h1>

<%= form_for [@project, @skill] do |form| %>
  <%= form.text_field :name, placeholder: "name", id: 'skill_name' %>
  <%= form.text_field :description, placeholder: "Description of skill", id: 'skill_description' %>

  <%= form.submit id: 'submit_skill' %>
<% end %>