<div id="error_explanation">
  <h3> Course Guidelines </h3>
  <ul>
    <li>Code must follow examples: (csce-121, EGL-1201)</li>
    <li>Name must be less then 150 characters</li>
    <li>Description must be less than 250 words</li>
  </ul>
</div>
<%= form_for @course do |f| %>
  <%= render 'layouts/error', object: @course, as: 'object' %>
  <%= f.label "Code" %> <br>
  <%= f.text_field :code %> <br>
  
  <%= f.label "Name" %> <br>
  <%= f.text_field :name %> <br>
  
  <%= f.label "Description" %> <br>
  <%= f.text_area :description, rows: 10, cols: 50 %> <br>
  <br>
  <% if params[:action] == "new" or params[:action] == "create" %>
    <%= label("section_number", "Section Number") %> <br>
    <%= number_field_tag "section[number]", in: 1...9999 %>
    <br>
    
    <br><%= label("section_semester", "Section Semester") %>
    <br><%= radio_button_tag "section[semester]", "Spring", true %> Spring
    <br><%= radio_button_tag "section[semester]", "Summer" %> Summer
    <br><%= radio_button_tag "section[semester]", "Fall" %> Fall 
    <br><%= radio_button_tag "section[semester]", "Winter" %> Winter
    
    <br><br><%= label("section_year", "Section Year") %> <br>
    <%= number_field_tag "section[year]", in: 1...9999 %>
    <br>
  <% end %>
  <br>
  <% if params[:action] == "edit" %>
    <%= render "layouts/confirm_update", object: @course, as: 'object' %>
  <% else %>
    <%= f.submit "Save Course" %>
  <% end %>
<% end %>