<div id='main'>
  <h1>All Courses</h1>
    <table id='courses'>
      <thead>
        <tr>
        <th>Code</th>
        <th>Course Name</th>
        <th>Description</th>
        <th>Section(s)</th>
        <% if is_admin_html %>
        <th>Options</th>
        <% end %>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
          <tr>
            <td> <%= course.code %> </td>
            <td> <%= course.name %> </td>
            <td> <%= course.description %> </td>
            <td>
              <table>
                <tr>
                <% course.sections.each do |section| %>
                  <td> <%= link_to "#{section.number} #{section.semester}-#{section.year}", section_projects_path(section) %> </td>
                <% end %>
                </tr>
              </table>
            </td>
            <% if is_admin_html %>
            <td> 
              <table>
                <tr>
                <td> <%= link_to 'Add Section', new_course_section_path(course), :id => "add_section_to_#{course.code}" %> </td>
                <td> <%= link_to 'Edit', edit_course_path(course), :id => "edit_#{course.code}" %> </td>
                <td> <%= link_to 'Delete', remove_course_path(course), :id => "delete_#{course.code}", :method => :get %> </td>
                </tr>
              </table>
            </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if is_admin_html %>
      <%= button_to 'Create Course', {:action => :new, :controller => :courses}, :method => :get %>
    <% end %>
</div>