
<h1 class="ml-5 mt-5 mb-5">
  <span class="display-4 d-inline-block">Courses</span>
  <% if is_admin_html %>
    <%= button_to 'Add Course', {:action => :new, :controller => :courses}, :method => :get , :class => "btn btn-success d-inline" %>
  <% end %>
</h1>

<div class="container">
  <div class="jumbotron">
    <% @courses.each do |course| %>
      <div class="card d-inline-block mt-4 w-100">
        <div class="card-header">
          <h5 class="card-title d-inline"><%= course.code %></h5>
          <h5 class="card-title d-inline float-right"><%= course.name %></h5>
        </div>
        
        <div class="card-body">
          <p class="card-text text-muted text-center"><%= course.description %></p>
          <hr/>
          <h5 class="text-muted">Sections</h5>
          <% course.sections.each do |section| %>
            <%= link_to "#{section.number} #{section.semester}-#{section.year}", section_projects_path(section) , :class => "btn btn-primary" %>
          <% end %>
        </div>
        
        <div class="card-footer text-center">
          <% if super_access_html %>
            <%= link_to 'Add Section', new_course_section_path(course), :id => "add_section_to_#{course.code}" , :class => "btn btn-warning" %>
            <%= link_to 'Edit', edit_course_path(course), :id => "edit_#{course.code}" , :class => "btn btn-warning" %>
            <%= link_to 'Delete', remove_course_path(course), :id => "delete_#{course.code}", :method => :get , :class => "btn btn-warning" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>