<div id='main'>
  <h1>All Courses</h1>
    <table id='courses'>
      <thead>
        <tr>
        <th>Code</th>
        <th>Course Name</th>
        <th>Description</th>
        <th>Sections</th>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
          <tr>
            <td> <%= course.code %> </td>
            <td> <%= course.name %> </td>
            <td> <%= course.description %> </td>
            <% course.sections.each do |section| %>
              <td> <%= section.number %> </td>
              <td> <%= link_to 'Projects', course_section_projects_path(course, section) %></td>
            <% end %>
            <td> <%= link_to 'Add Section', new_course_section_path(course) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= button_to 'Create Course', {:action => :new, :controller => :courses}, :method => :get %>
</div>