<!DOCTYPE html>
<html>
  <head>
    <title>CrewCreator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': false %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <% if !current_page?('/login') %>
            <% if !current_user %>
              <li class="nav-item active">
                <%= link_to 'Sign Up', createaccount_path , :class => "nav-link"%>
              </li>
              <li class="nav-item active">
                <%= link_to 'Log In', login_path , :class => "nav-link"%>
              </li>
            <% end %>
            <% else %>
              <li class="nav-item active">
                <%= link_to 'Sign Up', createaccount_path , :class => "nav-link"%>
              </li>
          <% end %>
          
          <% if is_admin_html %>
            <li class="nav-item">
              <%= link_to 'My Account', '/admin_account', :id => current_user.id, :method => :get , :class => "nav-link"%>
            </li>
          <%end%>
          
          <% if is_user_html && !is_admin_html %>
            <li class="nav-item">
              <%= link_to 'My Student Account', "/students/#{current_user.id}/edit", :method => :get, :class => "nav-link" %>
            </li>
          <%end%>
          
          <li class="nav-item">
            <%= link_to 'View Courses', {:action => :index, :controller => :courses}, :method => :get , :class => "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to 'View Admins', {:action => :index, :controller => :admins}, :method => :get , :class => "nav-link"%>
          </li>
          
          <% if is_admin_html %>
            <li class="nav-item">
              <%= link_to 'View Students', {:action => :index, :controller => :students}, :method => :get , :class => "nav-link"%>
            </li>
          <% end %>
          
          <li class="nav-item">
            <%= link_to 'View Skills', {:action => :index, :controller => :skills}, :method => :get , :class => "nav-link"%>
          </li>
        </ul>
        <% if current_user %>
          <ul class="navbar-nav ml-auto">
            <span class="navbar-brand mb-0 h1"><%= current_user.email %></span>
            <li class="nav-item active">
                <%= link_to 'Log Out', logout_path , :class => "nav-link"%>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>
    
    <% if flash[:notice] %>
      <div class="alert alert-info" role="alert">
        <%= flash[:notice] %>
      </div>
    <%elsif flash[:warning] %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:warning] %>
      </div>
    <%elsif flash[:alert] %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>
    
    
  <%= yield %>
  
  
    <!-- Footer -->
  <footer class="page-footer font-small blue">
    <hr>
      <p class="ml-5">Crew Creator 2019</p>
  </footer>
  
  </body>
</html>
