<!DOCTYPE html>
<html>
  <head>
    <title>CrewCreator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': false %>
  </head>

  <body>
    <nav>
      <% if !current_page?('/login') %>
        <% if current_user %>
          Logged in as <%= current_user.email %>.
          <%= link_to 'Log Out', logout_path %> |
        <% else %>
          <%= link_to 'Sign Up', createaccount_path %> |
          <%= link_to 'Log In', login_path %> |
        <% end %>
      <% else %>
        <%= link_to 'Sign Up', createaccount_path %> |
      <% end %>
      <% if is_admin_html %>
        <%= link_to 'My Account', '/admin_account', id: current_user.id, method: :get %> |
      <%end%>
      <% if is_user_html && !is_admin_html %>
        <%= link_to 'My Student Account', "/students/#{current_user.id}/edit", method: :get %> |
      <%end%>
      <%= link_to 'View Courses', courses_path %> |
      <% if is_admin_html %>
        <%= link_to 'View Admins', admins_path %> |
        <%= link_to 'View Students', students_path %> |
        <%= link_to 'View Skills', skills_path %> |
      <% end %>
      <%= link_to 'Home', home_path %>
    </nav>
    
    <% if flash[:notice] %>
      <br/>
      <div class='notice'><%= flash[:notice] %></div>
    <%elsif flash[:warning] %>
      <br/>
      <div class='warning'><%= flash[:warning] %></div>
    <%elsif flash[:alert] %>
      <br/>
      <div class='alert'><%= flash[:alert] %></div>
    <% end %>
  <%= yield %>
  </body>
</html>
